export GALAXY_CONFIG_DIR={{ galaxy_config_dir }}
export GALAXY_MUTABLE_CONFIG_DIR={{ galaxy_mutable_config_dir }}

export PGDATABASE={{ galaxy_db_name }}
export PGHOST={{ galaxy_postgres_db_host }}
export PGUSER={{ galaxy_postgres_db_user }}